modules = ["python-3.11", "python3", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "tcl", "tk", "zlib"]

[deployment]
deploymentTarget = "vm"
run = ["streamlit", "run", "app.py", "--server.port", "5000", "--server.address", "0.0.0.0", "--server.headless", "true"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "FlaskApp"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "StreamlitApp"

[[workflows.workflow]]
name = "FlaskApp"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m flask --app flask_app:create_app run --host=0.0.0.0 --port=8000"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "StreamlitApp"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "streamlit run app.py --server.port 5000"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8501
externalPort = 3000

[[ports]]
localPort = 8502
externalPort = 3002
